{{> header_part}}

<div id="detailContent">
    <div id="subContainer">

        <div id="main">
            <img src="{{image.url}}" alt="{{image.description}}">
        </div>
        <div id="info">
            <h2 id="title">{{image.title}}</h2>
            <h4 id="author">by {{image.author}}</h4>
            <p id="description">{{image.description}}</p>

            {{#if canEdit}}
            <form action="/gallery/{{image.id}}/edit" method="get">
                <button type="submit">Edit</button>
            </form>
            <form action="/gallery/{{image.id}}_?=DELETE" method="POST">
                <button type="submit">Delete</button>
            </form>
            {{/if}}

        </div>
    </div>

    <div id="other">
        {{#each other}}
        <div class="otherCard">
            <a href="/gallery/{{id}}">
                <img src="{{url}}" alt="{{description}}">
            </a>
        </div>
        {{/each}}
    </div>
</div>